<!DOCTYPE html>

<html lang="en" class="no-js">

<head>

	<meta charset="UTF-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>login</title>

	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />

	<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />

	<!--必要样式-->

	<link rel="stylesheet" type="text/css" href="/static/css/component.css" />

	<!--[if IE]>

	<script src="static/js/html5.js"></script>

	<![endif]-->

</head>

<body>

<div class="container demo-1">

	<div class="content">

		<div id="large-header" class="large-header">

			<canvas id="demo-canvas"></canvas>

			<div class="logo_box">

				<h3>欢迎你</h3>

				<form onsubmit="validateCode()" id="wishform" method="post">

					<div class="input_outer">

						<span class="u_user"></span>

						<input name="username" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">

					</div>

					<div class="input_outer">

						<span class="us_uer"></span>

						<input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">

					</div>
					<div style="color:#ccc;">　<input type="checkbox" value="1" name="ischeck">　保持登录状态</div>
					<div class="mb2"><input type="button" id="tijiao" style="	border:0px solid red;line-height: 20px;padding: 15px;margin-top: 20px;display: block;text-align: center;font-size: 18px;border-radius: 50px;width: 330px;background: #0096e6;color:#fff;" value="登录"></div>

				</form>

			</div>

		</div>

	</div>

</div><!-- /container -->

<script src="/static/js/TweenLite.min.js"></script>

<script src="/static/js/EasePack.min.js"></script>

<script src="/static/js/rAF.js"></script>

<script src="/static/js/demo-1.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript">
    $('#tijiao').click(function(){
        $.ajax({
            url:"{:url('Index/do_login')}",
            type:'POST',
            data:$('#wishform').serialize(),
            success:function(result){

                switch(result.msg){

                    case 1:layer.msg(result.statu, {
                        offset: 't',
                        anim: 6,time: 2000
                    });
                        location.href="http://www.sc.com/index/index/index.html";
                        break;
                    case 2:layer.msg(result.statu, {
                        offset: 't',
                        anim: 6,time: 2000
                    });
                        location.href="http://www.sc.com/index/login/login.html";
                        break;
                    case 3:layer.msg(result.statu, {
                        offset: 't',
                        anim: 6,time: 2000
                    });
                        location.href="http://www.sc.com/index/login/login.html";
                        break;
                }

            },error:function(){
                alert('错误');
            }
        });
    })
</script>

</body>

</html>