<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">

<link href="/public/state/css.css" rel="stylesheet" type="text/css"> 

<body>

<div class="img">
<div class="peripheral">
  <p class="title">{$openid.nickname},您砍掉<span>{$money}</span>元，还剩<span>{$bargain.newmoney}</span>元</p>
<a class="frameworkone" id="bangkan" href="http://www.514superhero.cn/wxlist/index.php/Home/index/do_bargain/openid/{$openid}"> 帮砍一刀{$openid}</a>
</div>
</div>


</body>
</html>